*{margin: 0; padding: 0; font-family: 'Rubik', sans-serif; font-weight: 500;}

.font-style1 {font-weight: 100;}
.font-style2 {font-weight: 300;}
.font-style3 {font-weight: 400;}
.font-style4 {font-weight: 500;}
.font-style5 {font-weight: 700;}
.font-style6 {font-weight: 900;}

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

header {
    padding-top: 5px;
    width: 100%;
    /* background-color: #353b47; */
    /* position: fixed;  */
    z-index: 100;
}
header nav {
    
    width: 100%;
    background-color: #fff;
    /* border-radius: 100px 100px; */
    box-shadow: 0 1px 5px #333;
    z-index: 100;
    height: 112px;
}
header nav .container {
    padding: 20px 0;
    box-sizing: border-box;
    height: 100%;
}
header nav .container a {
    display: inline-block;
    float: left;
    vertical-align: middle;
}
header nav .container a img {}

header nav .container button {display: none;}
header nav .container button span {color: #fff; font-weight: 700;}

header nav .container #navbars-rs-food {
    display: inline-block;
    float: right;
}
header nav .container #navbars-rs-food ul {padding-top: 20px; display: inline-block;}
header nav .container #navbars-rs-food ul li {
    list-style: none;
    display: inline-block;
    float: left;
    position: relative;
    cursor: pointer;
}
header nav .container #navbars-rs-food ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    color: #353b47;
    transition: 0.4s;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}

.active{
    background-color: #d65106;
    border-radius: 5px;
}

header nav .container #navbars-rs-food ul li a:hover{
    background-color: #d65106;
    border-radius: 5px;
    color: #fff;
}

header nav .container #navbars-rs-food ul li a:focus{
    background-color: #d65106;
    border-radius: 5px;
    color: #fff;
}

header nav .container #navbars-rs-food ul li>div.drop-menu {
    width: 165px;
    /* border: 1px solid #f00; */
    background-color: #fff;
    position: absolute;
    top: 45px;
    padding: 10px;
    box-sizing: border-box;
    display: none;
}

header nav .container #navbars-rs-food ul li>div.drop-menu>a{
    display: block;
    padding: 0;
    font-weight: 500;
    padding: 10px;
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
}

/* ************** Slide  ******************** */


input[type="radio"]{
    display: none;
}

#slides {position: relative;}
#slides ul {}
#slides ul li {
    position: relative; 
    transition: 0.5s; 
    display: none;
    transition: 1s;
}
#slides ul li img{width: 100%; transition: all 0.5s;}

#slides ul li .wrap-text {
    position: absolute; 
    top: 50%; 
    left: 5%; 
    width: 100%;
} 

#slides ul li .wrap-text .sub-wrap-text {}
#slides ul li .wrap-text .sub-wrap-text .last-sub-wrap {}
#slides ul li .wrap-text .sub-wrap-text .last-sub-wrap h1{ 
    font-size: 64px;
    font-weight: 700;
    color: #fff;
}
.wrap-text .sub-wrap-text .last-sub-wrap p{color: #fff;}
.wrap-text .sub-wrap-text .last-sub-wrap p>a{ 
    text-decoration: none;
    background-color: #d65106;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: 20px;
    display: inline-block;
    transition: 0.5s;
}

.wrap-text .sub-wrap-text .last-sub-wrap p>a:hover{
    background-color: #333333;
}

#slides .slide-paging{
    position: absolute;
    bottom: 5px;
    left: 50%;
}

#slides .slide-paging>li{
    height: 50px;
    display: inline-block!important;
    border-radius: 25px;
    box-sizing: border-box;
}

.changeColor{
    background-color: #d65106;
}

#slides .disc{
    height: 100%;
    width: 10px;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 25px;
    box-sizing: border-box;
}

#slides .slides-navigation{
    position: absolute;
    top: 50%;
    width: 100%;
}

#slides .slides-navigation>a{
    width: 50px;
    height: 50px;
    font-size: 40px;
    background-color: #d65106;
    color: #fff;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    position: absolute;
    transition: 0.5s;
}

#slides .slides-navigation>a:hover{
    background-color: #333333;
}

#slides .slides-navigation>a.prev{left: 0;}
#slides .slides-navigation>a.next{right: 0;}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }

  @-webkit-keyframes fade {
    from {opacity: 0.5} 
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: 0.5} 
    to {opacity: 1}
  }

/* *************** about ***************** */
#about-cnt {
    background-image: url(../images/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    padding: 80px 0;
}
#about-cnt .container {}
#about-cnt .container .row {
    position: relative;
    overflow: hidden;
}
#about-cnt .container .row .wrap-text {
    display: inline-block;
    width: 50%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
}
#about-cnt .container .row .wrap-text .sub-wrap {}
#about-cnt .container .row .wrap-text .sub-wrap h1 {
    font-weight: bold;
}
#about-cnt .container .row .wrap-text .sub-wrap h1 span {
    color: #d65106;
    font-weight: bold;
}
#about-cnt .container .row .wrap-text .sub-wrap h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
}
#about-cnt .container .row .wrap-text .sub-wrap p {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.8;
}
#about-cnt .container .row .wrap-text .sub-wrap a {
    text-decoration: none;
    background-color: #d65106;
    padding: 12px 30px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: 20px;
    display: inline-block;
    transition: 0.5s;
}

#about-cnt .container .row .wrap-text .sub-wrap a:hover{
    background-color: #333333;
}

#about-cnt .container .row .wrap-img {
    display: inline-block;
    width: 50%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
    
}
#about-cnt .container .row .wrap-img img {
    width: 100%;
    box-shadow: 20px 20px #d65106;
}

/* ******************* QT ****************** */

.qt-wrap {
    background-image: url(../images/qt-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 45vh;
    padding: 100px 0;
    box-sizing: border-box;
}
.qt-wrap .container {}
.qt-wrap .container .row {
    max-width: 650px;
    margin: 0 auto;
}
.qt-wrap .container .row .wrap {
   text-align: center;
}
.qt-wrap .container .row .wrap p {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
}
.qt-wrap .container .row .wrap span {
    display: inline-block;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    line-height: 3;
}

/* **************Start Menu************** */
.menu-box {padding: 50px 0; box-sizing: border-box;}
.menu-box .container {}
.container .row .title-box {text-align: center; }
.container .row .title-box .wrap-title { margin-bottom: 50px;}
.container .row .title-box .wrap-title h2{
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1;
    /* line-height: 2; */
}
.container .row .title-box .wrap-title p{
    font-size: 18px;
    letter-spacing: 1;
    color: #636363;
    line-height: 50px;
}

.menu-box .container .row {
    width: 100%;
    display: inline-block;
}
.menu-box .container .row .side-left {
    width: 25%; 
    box-sizing: border-box;
    /* border: 1px solid #000; */
    float: left;
}

.menu-box .container .row .side-left .wrap-pills-tab {}
.menu-box .container .row .side-left .wrap-pills-tab a {
    width: 100%;
    text-decoration: none;
    color: #333333;
    padding: 12px 30px;
    font-weight: bold;
    border-radius: 3px;
    display: inline-block;
    transition: 0.5s;
    box-sizing: border-box;
    cursor: pointer;
}

.menu-box .container .row .side-left .wrap-pills-tab a:hover{
    background-color: #d65106;
    color: #ffffff;
}


.menu-box .container .row .side-right {
    width: 75%;
    box-sizing: border-box;
    /* border: 1px solid #000; */
    float: left;
}

#v-pills-tabContent {width: 100%;}
#v-pills-tabContent .wrap-pills {width: 100%;}
#v-pills-tabContent .wrap-pills .row .special-div {
    /* width: 100%; */
    
}
#v-pills-tabContent .wrap-pills .row .special-div .sub-gallery {
    width: 100%;
    position: relative;
    overflow: hidden;
}
#v-pills-tabContent .wrap-pills .row .special-div .sub-gallery img {width: 100%;}
#v-pills-tabContent .wrap-pills .row .special-div .sub-gallery .wrap-detail-text {
    width: 100%; 
    height: 100%; 
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 162px;
    /* display: none; */
    transition: all 0.2s;
}


#v-pills-tabContent .wrap-pills .row .special-div .sub-gallery:hover .wrap-detail-text{
    top: 0px;
    /* display: block; */
    opacity: 0.9;
}

#v-pills-tabContent .wrap-pills .row .special-div .sub-gallery .wrap-detail-text h4{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 10px;
}
#v-pills-tabContent .wrap-pills .row .special-div .sub-gallery .wrap-detail-text p{
    font-size: 13px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #000000;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 1.5;
}
#v-pills-tabContent .wrap-pills .row .special-div .sub-gallery .wrap-detail-text h5{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 10px;
}

/* ------------------STYLE COMMON MENU------------------------*/
.special-div {
    width: 32%; 
    box-sizing: border-box;
    /* border: 1px solid #000; */
    padding: 0 10px;
    display: inline-block;
    
}
.sub-gallery {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    
}

.wrap-detail-text{
    background-color: #cfa671;
    
    /* top: 0; */
    /* opacity: 0.9; */
}

/* ---------------------------END------------------------------- */
#v-pills-home{display: block;}
#v-pills-profile {display: none;}
#v-pills-messages {display: none;}
#v-pills-settings {display: none;}


.gallery-box {padding: 70px 0;}
.gallery-box .container {}
.gallery-box .container .row {
    /* border: 1px solid #000; */
}
.gallery-box .container .row .title-box {}
.gallery-box .container .row .title-box .wrap-title {}
.gallery-box .container .row .title-box .wrap-title h2 {}
.gallery-box .container .row .title-box .wrap-title p {}

.gallery-box .container .row .wrap-img-gal {}
.gallery-box .container .row .wrap-img-gal .wrap-box-gal{
    width: 32%;
    /* border: 1px solid #000; */   
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
}
.gallery-box .container .row .wrap-img-gal .wrap-box-gal a{
    display: inline-block;
    border: 4px solid #d65106;
}
.gallery-box .container .row .wrap-img-gal .wrap-box-gal a img{ 
    width: 100%;
    box-sizing: border-box;
    transition: all 0.4s;
}
.gallery-box .container .row .wrap-img-gal .wrap-box-gal:hover a img{
    /* width: 105%; */
    transform: scale(1.07);
    box-shadow: 0px 0px 10px 1px #000000;
}

.customer-box {padding: 70px 0;}
.customer-box .container {}
.customer-box .container .row {}
.customer-box .container .row .title-box {}
.customer-box .container .row .title-box .wrap-title {}
.customer-box .container .row .title-box .wrap-title h2 {}
.customer-box .container .row .title-box .wrap-title p {}

.customer-box .container .row .main-wrap-cus {
    text-align: center;
}
 #reviews {
     position: relative;
 }
 #reviews .slider-wrap-cus {
    margin: 0 auto;
    width: 70%;
 }

 #reviews .slider-wrap-cus .sub-wrap-cus {}
 #reviews .slider-wrap-cus .sub-wrap-cus:nth-child(1) {}
 /* #reviews .slider-wrap-cus .sub-wrap-cus:nth-child(2) {display: none;} */
 /* #reviews .slider-wrap-cus .sub-wrap-cus:nth-child(3) {display: none;} */
 
 #reviews .slider-wrap-cus .sub-wrap-cus .img-wrap-cus {
     width: 135px;
     height: 135px;
     display: inline-block;
     padding: 5px;
     border: 1px solid hsl(0, 0%, 93%);
     border-radius: 50%;
 }
 #reviews .slider-wrap-cus .sub-wrap-cus .img-wrap-cus img {
     width: 100%;
 }
 #reviews .slider-wrap-cus .sub-wrap-cus h5 { 
     font-size: 26px;
     /* font-weight: bold; */
     color: #d65106;
     line-height: 2;
     text-transform: uppercase;
}
 #reviews .slider-wrap-cus .sub-wrap-cus h6 {
     font-size: 13px;
     font-weight: bold;
     padding-bottom: 10px;
 }
 #reviews .slider-wrap-cus .sub-wrap-cus p {
     font-size: 17px;
     color:#616161;
     padding-bottom: 30px;
 }

 .customer-box .container .row .main-wrap-cus a{
    width: 65px;
    height: 35px;
    font-size: 15px;
    background-color: #d65106;
    color: #fff;
    display: inline-block;
    line-height: 35px;
    border-radius: 3px;
    text-decoration: none;
    /* position: absolute; */
}

.customer-box .container .row .main-wrap-cus a.prev{
    right: 0;
}
.customer-box .container .row .main-wrap-cus a.next{
    left: 0;
}

.contact-box {
    padding: 30px 0;
    background-color: #d65106;
    border: 1px solid #000;
    border-radius: 100px;
}
.contact-box .container {}
.contact-box .container .row {}
.contact-box .container .row .wrap-item {
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    overflow: hidden;
}
.contact-box .container .row .wrap-item .mof-fa{
    display: inline-block;
    vertical-align: middle;
    color: #d65106;
    /* padding: 20px; */
    background-color: #ffffff;
    border-radius: 3px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    box-sizing: border-box;
}

.contact-box .container .row .wrap-item .mof-arrow{
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-size: 55px;
    box-sizing: border-box;
    float: right;
    padding-right: 20px;
}

.contact-box .container .row .wrap-item .wrap-common {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}
.contact-box .container .row .wrap-item .wrap-common h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold; 
}
.contact-box .container .row .wrap-item .wrap-common p{
    color: #ffffff;
    font-size: 15px;
}

/* -----FOOTER---- */

footer {}

.bgr-footer-img {
    background-image: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.bgr-color{
    background-color: rgba(0, 0, 0, 0.7);
}

/* footer::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: #000000;
    opacity: 0.7;
} */

footer .container {}
footer .container .row {
    
}

footer .container  .pad-top{padding-top: 50px; padding-bottom: 20px;}
footer .container .row .wrap-items {
    display: inline-block;
    width: 24%;
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 10px;
}
footer .container .row .wrap-items h3{
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid #cfa671;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

footer .container .row .wrap-items:nth-child(1) p{
    color: #ffffff;
    font-size: 15px;
    /* padding-top: 20px; */
    line-height: 25px;
}

footer .container .row .wrap-items .wrap-form {
    /* padding-top: 20px; */
}
footer .container .row .wrap-items .wrap-form form {}
footer .container .row .wrap-items .wrap-form form input[type="email"] {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    background-color: #000000;
    padding: 10px;
}
footer .container .row .wrap-items .wrap-form form button {
    background-color: #d65106;
    padding: 12px 30px;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    transition: 0.5s;
    border: none;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
}

footer .container .row .wrap-items .wrap-form form button:hover{
    background-color: #000000;
    cursor: pointer;
}

footer .container .row .wrap-items ul {
    padding-top: 20px;
}
footer .container .row .wrap-items ul li {
    list-style: none;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    margin-right: 5px;
}
footer .container .row .wrap-items ul li a{
    font-size: 23px;
    color: #d65106;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    line-height: 40px;
}

footer .container .row .wrap-items:nth-child(3) p{
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}

footer .container .row .wrap-items:nth-child(3) p a{
    color: #ffffff;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;
}

footer .container .row .wrap-items:nth-child(4){
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
}

footer .bgr-container {
    background-color: #000000;
    height: 70px;
}

footer .bgr-container .container .row .wrap-bottom {
    text-align: center;
}
footer .bgr-container .container .row .wrap-bottom p {
    color: #ffffff;
    font-size: 18px;
    line-height: 70px;
}
footer .bgr-container .container .row .wrap-bottom a {
    color: #ffffff;
    font-size: 18px;
    line-height: 70px;
    text-decoration: none;
}